@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 1rem;
}

html, body, #__next { height: 100%; }
body { background: theme(colors.background); color: theme(colors.foreground); }
.container { max-width: 80rem; margin-left: auto; margin-right: auto; padding-left: 1rem; padding-right: 1rem; }
